<br>
<h3>
  <a name="helpers" class="anchor" href="#helpers">
    <span class="octicon octicon-link"></span>
  </a>
  helpers
</h3>
<blockquote>
  <p>
    <code>fk_have_slides()</code>
    - mesmo funcionamento de <strong>have_posts()</strong>
    , verifica se existem slides cadastrados no admin.
  </p>

  <p>
    <code>fk_the_slide()</code>
    - mesmo funcionamento de <strong>the_post()</strong>
    , pega o próximo slide da lista.
  </p>

  <p>
    <code>fk_get_the_slide()</code>
    - mesmo funcionamento de
    <strong>get_the_post()</strong>
    *, retorna o slide atual da lista como objeto.
  </p>

  <p>
    <code>fk_the_link()</code>
    - imprime o link do slide atual.
  </p>

  <p>
    <code>fk_the_big_url()</code>
    - imprime a url da imagem grande do slide atual.
  </p>

  <p>
    <code>fk_the_thumb_url()</code>
    - imprime a url da thumbnail do slide atual.
  </p>

  <p>
    <code>fk_reset_slides()</code>
    - reseta a listagem de slides.
  </p>
</blockquote>
<h3>
  <a name="propriedades-das-imagens" class="anchor" href="#propriedades-das-imagens">
    <span class="octicon octicon-link"></span>
  </a>
  propriedades das imagens
</h3>
<blockquote>
  <p>
    <code>link</code>
    - contendo o link cadastrado no admin.
  </p>

  <p>
    <code>big</code>
    - contendo os dados da imagem grande, que por sua vez possui as 3 propriedades a seguir:
  </p>

  <blockquote>
    <ul>
      <li>
        <code>url</code>
        - url completa da imagem grande.
      </li>
      <li>
        <code>width</code>
        - largura da imagem grande.
      </li>
      <li>
        <code>height</code>
        - altura da imagem grande.
      </li>
    </ul>
  </blockquote>

  <p>
    <code>thumb</code>
    - contendo os dados da thumbnail, que por sua vez possui as 3 propriedades a seguir:
  </p>

  <blockquote>
    <ul>
      <li>
        <code>url</code>
        - url completa da thumbnail.
      </li>
      <li>
        <code>width</code>
        - largura da thumbnail.
      </li>
      <li>
        <code>height</code>
        - altura da thumbnail.
      </li>
    </ul>
  </blockquote>
</blockquote>
<h3>
  <a name="customizando-o-template" class="anchor" href="#customizando-o-template">
    <span class="octicon octicon-link"></span>
  </a>
  customizando o template
</h3>
<blockquote>
  <p>
    Para customizar o template padrão crie um arquivo com o nome
    <code>home-featuredslideshow.php</code>
    na raiz do tema atual.
  </p>
</blockquote>
