<br>
<div class="tool-box">
  <h3 class="title">Arraste as imagens para mudar a orde em que elas são exibidas.</h3>

  <form action="{{ form.action }}" method="post">
    {{{ form.nonce }}}
    <table class="wp-list-table widefat slide-list" cellspacing="0">
      <thead>
        <tr>
          <th class="sortable-indicator">&nbsp;</th>
          <th scope="col" class="manage-column image">Imagem</th>
          <th scope="col" class="manage-column link">Link</th>
          <th scope="col" class="manage-column actions">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{# images }}
          {{> backend/_partials/image_tr }}
        {{/ images }}
        {{^ images }}
          {{> backend/_partials/empty_tr }}
        {{/ images }}
      </tbody>
    </table>
    <p class="submit">
      <button type="submit" class="button button-primary">Salvar alterações</button>
    </p>
  </form>
</div>
