<div class="wrap">
  {{{ screenIcon }}}
  {{# message }}
  <div class='{{ type }}'>
    <p>{{ text }}</p>
  </div>
  {{/ message }}
  <h2>
    {{ pageTitle }}
    <a href="#" class="add-new-h2 slide-add-new">Adicionar Novo</a>
  </h2>

  <br>
  <br>

  <form action="{{ form.action }}" method="post">
    {{{ form.nonce }}}
    <table class="wp-list-table widefat slide-list" cellspacing="0">
      <thead>
        <tr>
          <th width="10%">&nbsp;</th>
          <th scope="col" class="manage-column">Imagem</th>
          <th scope="col" class="manage-column">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{# images }}
          {{> backend/_partials/image_tr }}
        {{/ images }}
        {{^ images }}
          {{> backend/_partials/empty_tr }}
        {{/ images }}
      </tbody>
    </table>
    <p class="submit">
      <button type="submit" class="button button-primary">Salvar alterações</button>
    </p>
  </form>
</div>

<script type="text/template" id="image_tr-template">
  {{> backend/_partials/image_tr}}
</script>
