<tr valign="top" class="slide-item ui-state-default" data-ref="image-{{ id }}">
  <td>
    <buttom class="ui-icon ui-icon-arrowthick-2-n-s"></buttom>
  </td>
  <td>
    <img src="{{ sizes.fk-admin-thumb.url }}" alt="">
    <input type="hidden" name="images[{{ id }}][id]" value="{{ id }}"></td>
  <td class="form-table">
    <div class="field">
      <label for="title-{{id}}">Título</label>
      <input type="text" id="title-{{id}}" class="regular-text code" name="images[{{ id }}][title]" value="{{ title }}"/>
    </div>
    <div class="field">
      <label for="address-{{id}}">Endereço</label>
      <input type="text" id="address-{{id}}" class="regular-text code" name="images[{{ id }}][address]" value="{{ address }}"/>
    </div>
  </td>
  <td>
    <select name="images[{{ id }}][pid]">
      <option value="">Selecione</option>
      {{# posts }}
        <option value="{{ID}}" {{# selected }}selected="selected"{{/ selected }}>{{ post_title }}</option>
      {{/ posts}}
    </select>
  <td>
    <button class="button btn-danger remove">Remover</button>
  </td>
</tr>
