<br>
<form action="{{ form.action }}" method="post">
  {{{ form.nonce }}}
  <table class="form-table">
    <tr valign="top">
      <th scope="row">
        <label>Exibir na Home</label>
      </th>
      <td>
        <input name="settings[override_home]" type="checkbox" {{# settings.override_home }}checked="checked"{{/settings.override_home}}/>
        <p class="description">
          Essa opção sobrescreve o template da Home usando o template do plugin.
          Lembrando que o template do plugin pode se sobrescrito criando um arquivo <code>home-featuredslideshow.php</code>
          na raiz do template. <br/>
          Com essa opção desabilitada será necessário usar as funções de helper descritas na aba de ajuda.
        </p>
      </td>
    </tr>
    <tr valign="top">
      <th scope="row">
        <label>Tipo de posts usados no slide</label>
      </th>
      <td>
        <input name="settings[post_type]" type="text" value="{{ settings.post_type }}"
          class="regular-text"></td>
    </tr>
    <tr valign="top">
      <th scope="row">
        <label>Nº de slides</label>
      </th>
      <td>
        <input name="settings[slides_qty]" type="text" value="{{ settings.slides_qty }}"
          class="small-text"></td>
    </tr>
    <tr valign="top">
      <th scope="row">
        <label>Proporções da imagem</label>
      </th>
      <td>
        <input name="settings[images][big][width]" type="text" value="{{ settings.images.big.width }}"
          class="small-text">
        x
        <input name="settings[images][big][height]" type="text" value="{{ settings.images.big.height }}"
          class="small-text"></td>
    </tr>
    <tr valign="top">
      <th scope="row">
        <label>Proporções da thumbnail</label>
      </th>
      <td>
        <input name="settings[images][thumb][width]" type="text" value="{{ settings.images.thumb.width }}"
          class="small-text">
        x
        <input name="settings[images][thumb][height]" type="text" value="{{ settings.images.thumb.height }}"
          class="small-text"></td>
    </tr>
  </table>
  <p class="submit">
    <button type="submit" class="button button-primary">Salvar alterações</button>
  </p>
</form>
