<input type="hidden" name="{{ nonceId }}" value="{{ nonceCode }}" />
<table class="form-table">
  <tr>
    <td>
      <input type="checkbox" name="{{ fieldId }}" id="{{ fieldId }}" value="1"
        {{#isFeatured}}checked="checked"{{/isFeatured}}
        >
      <label for="{{ fieldId }}">{{ fieldLabel }}</label>
    </td>
  </tr>
</table>
